<!DOCTYPE html>
<html lang="en" style="overflow: auto" class="custom-scrollbar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Phi Admin</title>
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">-->
    <link href='/static/css/Material+Icons.css' rel="stylesheet"
          type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/vuetify/1.0.11/vuetify.min.css" rel="stylesheet">
    <link href="/static/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>
    <style>
        /* Document scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
            /*border-radius: 10px;*/
        }

        ::-webkit-scrollbar-thumb {
            /*border-radius: 10px;*/
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        /* Scrollable element */
        .custom-scrollbar::webkit-scrollbar {
        }

    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-toolbar dense>
            <v-toolbar-side-icon>
                <v-icon large class="mb-4 grey--text">φ</v-icon>
            </v-toolbar-side-icon>
            <v-toolbar-title>Phi Admin</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="ma-0 pa-0">
            <div id="main" style="width: auto;"></div>
        </v-container>
        <v-footer class="pa-3">
            <v-btn class="mt-0 mb-0" small icon @click="chartLayout='orthogonal'">
                <v-icon>mdi-file-tree</v-icon>
            </v-btn>
            <v-btn class="mt-0 mb-0" small icon @click="chartLayout='radial'">
                <v-icon>mdi-radio-tower</v-icon>
            </v-btn>
            <v-btn class="mt-0 mb-0" small icon @click="window.location='/'">
                <v-icon>refresh</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <div>&copy; {{ new Date().getFullYear() }}</div>
        </v-footer>
        <v-dialog v-model="newApiServerDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">添加Api Server</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="routerForm">
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="formRules.string" label="主机名" v-model="newRouter.hostkey"
                                                  hint="访问时使用的域名，如果是以IP访问，就输入ip:port" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select combobox clearable
                                              :rules="formRules.ups"
                                              label="默认服务器"
                                              v-model="newRouter.data.default"
                                              :items="upstreams"
                                              required
                                              hint="可以是[ip:port]也可以是具体upstream名称"></v-select>
                                </v-flex>

                            </v-layout>
                        </v-form>
                    </v-container>
                    <small class="red--text">* 表示必填</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="newApiServerDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading" @click.native="newRouterApi">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="limitTrafficDialog" max-width="800px">
            <v-tabs
                    fixed-tabs
                    slider-color="blue"
                    grow
                    v-model="limitTrafficTab.tabActive"
            >
                <v-tab>
                    限流
                </v-tab>
                <v-tab>
                    降级
                </v-tab>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            <v-data-table
                                    :headers="limitTrafficTab.headers.rateLimiting"
                                    :items="limitTrafficTab.items.rateLimiting"
                                    hide-actions
                            >
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-right">{{ mappedKey(props.item.mapper) }}</td>
                                    <td class="text-xs-right">{{ props.item.type }}</td>
                                    <td class="text-xs-right">{{ props.item.rejected }}</td>
                                    <td class="text-xs-right">{{ props.item.uri || 'Global' }}</td>
                                    <td class="justify-center layout px-0">
                                        <v-btn icon class="mx-0"
                                               @click="()=>{newRateLimitingDialog=true;newRateLimiting=props.item;newRateLimiting.edit=true,newRateLimiting.index=props.index}">
                                            <v-icon color="teal">edit</v-icon>
                                        </v-btn>
                                        <v-btn icon class="mx-0" @click="delRateLimitingApi(props.index)">
                                            <v-icon color="pink">delete</v-icon>
                                        </v-btn>
                                    </td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat disabled>{{node.name}}</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat slot="activator" @click="newRateLimitingDialog = true">Add
                            </v-btn>
                            <v-btn color="blue darken-1" flat @click.native="limitTrafficDialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            <v-data-table
                                    :headers="limitTrafficTab.headers.degradation"
                                    :items="limitTrafficTab.items.degradation"
                                    hide-actions
                            >
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-right">{{ props.item.uri }}</td>
                                    <td class="text-xs-right">{{ props.item.info.type }}</td>
                                    <td class="text-xs-right">
                                        <v-tooltip bottom>
                                            <span v-if="props.item.info.type==='redirect'">{{props.item.info.target}}</span>
                                            <pre v-if="props.item.info.type==='fake'">{{formatJson(props.item.info.target)}}</pre>
                                            <span slot="activator">{{props.item.info.target.substring(0,50)}}</span>
                                        </v-tooltip>
                                    </td>
                                    <td class="justify-right">
                                        <v-tooltip bottom v-if="props.item.info.enabled" lazy>
                                            <v-btn flat icon slot="activator"
                                                   @click="enabledDegradationApi(node.name,props.item.uri,false)">
                                                <v-icon color="red">mdi-wall</v-icon>
                                            </v-btn>
                                            <span>请求正被拦截，点击放行</span>
                                        </v-tooltip>
                                        <v-tooltip bottom v-else lazy>
                                            <v-btn flat icon slot="activator"
                                                   @click="enabledDegradationApi(node.name,props.item.uri,true)">
                                                <v-icon color="green">fa-plane</v-icon>
                                            </v-btn>
                                            <span>请求正被放行，点击拦截</span>
                                        </v-tooltip>
                                    </td>
                                    <td class="justify-center layout px-0">
                                        <v-btn icon class="mx-0"
                                               @click="newDegradation = props.item;newDegradationDialog = true">
                                            <v-icon color="teal">edit</v-icon>
                                        </v-btn>
                                        <v-btn icon class="mx-0"
                                               @click="delDegradationApi(node.name,props.item.uri,props.index)">
                                            <v-icon color="pink">delete</v-icon>
                                        </v-btn>
                                    </td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat disabled>{{node.name}}</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat slot="activator" @click="newDegradationDialog = true">Add
                            </v-btn>
                            <v-btn color="blue darken-1" flat @click="limitTrafficDialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-dialog>
        <v-dialog v-model="updatePolicyDialog" scrollable persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">更新路由策略</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="policyForm">
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="formRules.string" label="主机名"
                                                  v-model="newRouter.hostkey"
                                                  hint="访问时使用的域名，如果是以IP访问，就输入ip:port" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select combobox clearable
                                              :rules="formRules.ups"
                                              label="默认服务器"
                                              v-model="newRouter.data.default"
                                              :items="upstreams"
                                              required
                                              hint="可以是[ip:port]也可以是具体upstream名称"></v-select>

                                </v-flex>
                            </v-layout>
                            <v-card class="elevation-0" v-if="newRouter.data.policies"
                                    v-for="p,p_idx in newRouter.data.policies">
                                <v-card-title>
                                    <v-flex xs11>
                                        <v-layout wrap>
                                            <v-flex xs12 sm3 md3>
                                                <v-text-field :rules="formRules.number" label="排序"
                                                              type="number"
                                                              v-model="p.order"
                                                              hint="规则优先级，越大优先级越高" required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm3 md3>
                                                <v-select :rules="formRules.string"
                                                          required
                                                          dense
                                                          auto
                                                          label="规则"
                                                          @change="(v)=>p.routerTable=[]"
                                                          v-model="p.policy"
                                                          :items="policies"
                                                          hint="规则的计算类型"></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm6 md6 v-if="typeof(p.mapper)==='string'">
                                                <v-select :rules="formRules.string"
                                                          label="路由Key"
                                                          required
                                                          dense
                                                          auto
                                                          append-icon="fa-tags"
                                                          :append-icon-cb="()=>p.mapper={type:p.mapper,tag:''}"
                                                          :items="mappers"
                                                          v-model="p.mapper"
                                                          hint="提取请求特征的方式，点击tag图标可为此mapper添加tag字段"></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm3 md3 v-if="typeof(p.mapper)==='object'">
                                                <v-select :rules="formRules.string"
                                                          label="路由Key"
                                                          v-model="p.mapper.type"
                                                          required
                                                          dense
                                                          auto
                                                          :items="mappers"
                                                          hint="提取请求特征的方式"></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm3 md3 v-if="typeof(p.mapper)==='object'">
                                                <v-text-field :rules="formRules.string" label="路由Key名称"
                                                              v-model="p.mapper.tag"
                                                              append-icon="close"
                                                              :append-icon-cb="()=>p.mapper=p.mapper.type"
                                                              hint="提取请求特征时的额外参数，可选"></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                    <v-flex xs1>
                                        <v-btn icon @click="newRouter.data.policies.splice(p_idx,1)">
                                            <v-icon color="red">delete</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-card-title>
                                <v-card-text>
                                    <v-layout row
                                              v-for="rp,rp_index in p.routerTable">
                                        <v-flex xs11>
                                            <v-layout row wrap>
                                                <v-flex xs6>
                                                    <v-select combobox clearable
                                                              :rules="formRules.ups"
                                                              label="路由表"
                                                              v-model="rp.result"
                                                              :items="upstreams"
                                                              required
                                                              hint="路由结果"></v-select>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-layout wrap v-if="'range' === p.policy">
                                                        <v-flex xs6>
                                                            <v-text-field
                                                                    :rules="formRules.range"
                                                                    label="From"
                                                                    v-model="rp.expression[0]"
                                                                    required
                                                                    hint="最小值，填写NONE表示大于End"></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs6>
                                                            <v-text-field
                                                                    :rules="formRules.range"
                                                                    label="End"
                                                                    required
                                                                    v-model="rp.expression[1]"
                                                                    hint="最大值，填写NONE表示小于From"></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout v-else>
                                                        <v-flex xs12>
                                                            <v-text-field
                                                                    :rules="formRules.string"
                                                                    label="匹配条件"
                                                                    v-model="rp.expression"
                                                                    required
                                                                    hint="路由匹配条件"></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon small
                                                   @click="p.routerTable.splice(rp_index,1)">
                                                <v-icon small>fa-minus</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout>
                                        <v-btn block flat round small
                                               @click="p.routerTable.push({result:'',expression:[]})">
                                            <v-icon small>fa-plus</v-icon>
                                            &nbsp;添加新路由条目
                                        </v-btn>
                                    </v-layout>
                                </v-card-text>
                                <v-card-actions>
                                    <v-divider></v-divider>
                                </v-card-actions>
                            </v-card>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <small class="red--text">* 表示必填</small>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat
                           @click.native="addPolicy">
                        Add
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="updatePolicyDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading" @click.native="newRouterApi">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="newUpstreamDialog" scrollable persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">新增Upstream</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="upstreamForm">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field :rules="formRules.string" label="组名称"
                                                          v-model="newUpstream.upstreamName"
                                                          hint="Upstream组名称" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-select required :rules="formRules.string"
                                                      label="负载均衡方式"
                                                      v-model="newUpstream.strategy"
                                                      :items="balancers"
                                                      hint="负载均衡策略"></v-select>
                                        </v-flex>
                                        <v-flex xs12
                                                v-if="newUpstream.strategy=='resty_chash' && typeof(newUpstream.mapper)==='string'">
                                            <v-select :rules="formRules.string"
                                                      label="负载均衡Key"
                                                      required
                                                      dense
                                                      auto
                                                      append-icon="fa-tags"
                                                      :append-icon-cb="()=>newUpstream.mapper={type:newUpstream.mapper,tag:''}"
                                                      :items="mappers"
                                                      v-model="newUpstream.mapper"
                                                      hint="提取请求特征的方式，点击tag图标可为此mapper添加tag字段"></v-select>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6
                                                v-if="newUpstream.strategy=='resty_chash' && typeof(newUpstream.mapper)==='object'">
                                            <v-select :rules="formRules.string"
                                                      label="负载均衡Key"
                                                      v-model="newUpstream.mapper.type"
                                                      required
                                                      dense
                                                      auto
                                                      :items="mappers"
                                                      hint="提取请求特征的方式"></v-select>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6
                                                v-if="newUpstream.strategy=='resty_chash' && typeof(newUpstream.mapper)==='object'">
                                            <v-text-field :rules="formRules.string" label="负载均衡Key名称"
                                                          v-model="newUpstream.mapper.tag"
                                                          append-icon="close"
                                                          :append-icon-cb="()=>newUpstream.mapper=newUpstream.mapper.type"
                                                          hint="提取请求特征时的额外参数，可选"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>

                                <v-flex xs12 v-for="s,s_idx in newUpstream.servers">
                                    <v-layout wrap>
                                        <v-flex xs11>
                                            <v-layout row wrap>
                                                <v-flex xs6>
                                                    <v-text-field required :rules="formRules.ip" label="地址"
                                                                  v-model="s.name"
                                                                  hint="主机ip:port,注意这里不支持域名解析！"></v-text-field>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-text-field required :rules="formRules.string"
                                                                  label="权重"
                                                                  v-model="s.info.weight"
                                                                  type="number"
                                                                  hint="主机权重值，决定了负载均衡时的流量大小"></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon small
                                                   @click="newUpstream.servers.splice(s_idx,1)">
                                                <v-icon color="red" small>fa-minus</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12>
                                    <v-btn block round small
                                           @click="newUpstream.servers.push({name:'',info:{weight:0}})">
                                        <v-icon small>fa-plus</v-icon>
                                        &nbsp;添加新主机到此集群
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                    <small class="red--text">* 表示必填</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="newUpstreamDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading" @click.native="newUpstreamApi">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="newServerDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">添加主机</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="serverForm">
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field required :rules="formRules.ip" label="地址"
                                                  v-model="newServer.name"
                                                  hint="主机ip:port,注意这里不支持域名解析！"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field required :rules="formRules.string" label="权重"
                                                  v-model="newServer.info.weight"
                                                  type="number"
                                                  hint="主机权重值，决定了负载均衡时的流量大小"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                    <small class="red--text">* 表示必填</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="newServerDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading"
                           @click.native="addServerToUpsApi(node.name)">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="newRateLimitingDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">新增限流条目</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="rateForm">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-flex xs12
                                            v-if="!newRateLimiting.mapper || typeof(newRateLimiting.mapper)==='string'">
                                        <v-select :rules="formRules.string"
                                                  label="限流Key"
                                                  required
                                                  dense
                                                  auto
                                                  append-icon="fa-tags"
                                                  :append-icon-cb="()=>newRateLimiting.mapper={type:newRateLimiting.mapper,tag:''}"
                                                  :items="mappers"
                                                  v-model="newRateLimiting.mapper"
                                                  hint="提取请求特征的方式，点击tag图标可为此mapper添加tag字段"></v-select>
                                    </v-flex>
                                    <v-layout v-if="typeof(newRateLimiting.mapper)==='object'">
                                        <v-flex xs6 v-if="typeof(newRateLimiting.mapper)==='object'">
                                            <v-select :rules="formRules.string"
                                                      label="限流Key"
                                                      v-model="newRateLimiting.mapper.type"
                                                      required
                                                      dense
                                                      auto
                                                      :items="mappers"
                                                      hint="提取请求特征的方式"></v-select>
                                        </v-flex>
                                        <v-flex xs6 v-if="typeof(newRateLimiting.mapper)==='object'">
                                            <v-text-field :rules="formRules.string" label="限流Key名称"
                                                          v-model="newRateLimiting.mapper.tag"
                                                          append-icon="close"
                                                          :append-icon-cb="()=>newRateLimiting.mapper=newRateLimiting.mapper.type"
                                                          hint="提取请求特征时的额外参数，可选"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12>
                                    <v-select clearable
                                              :rules="formRules.string"
                                              label="限流类型"
                                              v-model="newRateLimiting.type"
                                              :items="limiters"
                                              required
                                              hint="限流类型：并发请求[req]、并发连接[conn]、单位时间最大请求数量[count]"></v-select>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout>
                                        <v-flex xs12 md6 sm6
                                                v-if="newRateLimiting.type==='req'||newRateLimiting.type==='count'">
                                            <v-text-field label="速率"
                                                          :rules="formRules.number"
                                                          required
                                                          v-model="newRateLimiting.rate"
                                                          hint="访问速率"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6 sm6
                                                v-if="newRateLimiting.type==='req'">
                                            <v-text-field label="突发请求"
                                                          :rules="formRules.number"
                                                          required
                                                          v-model="newRateLimiting.burst"
                                                          hint="允许突发访问量（即允许超出Rate的突发量，超出Rate最大量的请求将会被delay）"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md4 sm4
                                                v-if="newRateLimiting.type==='conn'">
                                            <v-text-field label="连接数"
                                                          :rules="formRules.number"
                                                          required
                                                          type="number"
                                                          v-model="newRateLimiting.conn"
                                                          hint="最大并发连接数"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md4 sm4
                                                v-if="newRateLimiting.type==='conn'">
                                            <v-text-field label="突发连接数"
                                                          :rules="formRules.number"
                                                          required
                                                          type="number"
                                                          v-model="newRateLimiting.burst"
                                                          hint="允许突发访问量（即允许超出Connections的突发量，超出Connections最大量的请求将会被delay）"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md4 sm4 v-if="newRateLimiting.type==='conn'">
                                            <v-text-field label="延迟"
                                                          :rules="formRules.number"
                                                          required
                                                          type="number"
                                                          v-model="newRateLimiting.delay"
                                                          hint="对突发请求的延迟时间，单位秒(s)">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6 sm6 v-if="newRateLimiting.type==='count'">
                                            <v-text-field label="单位时间窗口"
                                                          type="number"
                                                          :rules="formRules.number"
                                                          required
                                                          v-model="newRateLimiting.time_window"
                                                          hint="时间窗口大小，单位秒(s)"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12>
                                    <v-select clearable
                                              :rules="formRules.string"
                                              label="拒绝方式"
                                              v-model="newRateLimiting.rejected"
                                              :items="rejectedStrategies"
                                              required
                                              hint="被限流后的拒绝策略：拒绝访问[rejected]、执行降级[degrade]"></v-select>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="匹配URI"
                                                  v-model="newRateLimiting.uri"
                                                  hint="指定匹配路径，支持Ant风格Path路径，可选，置空即全局限流，建议留空"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                    <small class="red--text">* 表示必填</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="newRateLimitingDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading" @click.native="newRateLimitingApi">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="newDegradationDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">新增降级条目</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form v-model="formValid" ref="degradationForm">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field label="URI"
                                                  :rules="formRules.string"
                                                  required
                                                  v-model="newDegradation.uri"
                                                  hint="指定匹配的准确路径"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-select clearable
                                              :rules="formRules.string"
                                              label="类型"
                                              v-model="newDegradation.info.type"
                                              :items="degradationStrategies"
                                              required
                                              hint="降级类型：重定向[redirect]、Fake数据[fake]"></v-select>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="目标数据"
                                                  multi-line
                                                  :rules="formRules.string"
                                                  required
                                                  v-model="newDegradation.info.target"
                                                  hint="需要返回的目标数据，重定向输入url，Fake数据输入响应数据"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                    <small class="red--text">* 表示必填</small>
                    <v-tooltip right v-if="newDegradation.info.type">
                        <span v-if="newDegradation.info.type==='redirect'">Redirect时，必须填写完整的URL，如https://www.sample.com</span>
                        <span v-if="newDegradation.info.type==='fake'">
Fake数据格式：
<li>指定响应头和响应体:</li>
<pre>
{
    header:[],//响应头
    body:{},//响应体
}
</pre>
<li>仅指定响应体:</li>
<pre>
{
    success:false,
    message:"err msg"
}
</pre>
<li>响应普通文本:</li>
<pre>
plain text
</pre>

                        </span>
                        <v-icon dark color="primary" slot="activator">help</v-icon>
                    </v-tooltip>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="newDegradationDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat :loading="formLoading" @click.native="newDegradationApi">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-menu
                lazy
                offset-y
                v-model="menu.phi"
                absolute
                :position-x="x"
                :position-y="y"
        >
            <v-list dense>
                <v-list-tile @click="newApiServerDialog=true">
                    <v-list-tile-title>新增Api Server</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-menu
                lazy
                offset-y
                v-model="menu.ups_root"
                absolute
                :position-x="x"
                :position-y="y"
        >
            <v-list dense>
                <v-list-tile @click="newUpstreamDialog=true">
                    <v-list-tile-title>新增Upstream</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-menu
                lazy
                offset-y
                v-model="menu.host"
                absolute
                :position-x="x"
                :position-y="y"
        >
            <v-list dense>
                <v-list-tile @click="updatePolicy">
                    <v-list-tile-title>编辑路由规则</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="delRouterApi(node.name)">
                    <v-list-tile-title>删除Api Server</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="limitTrafficDialog=true">
                    <v-list-tile-title>流量控制</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-menu
                lazy
                offset-y
                v-model="menu.upstream"
                absolute
                :position-x="x"
                :position-y="y"
        >
            <v-list dense>
                <v-list-tile @click="updateUpstream" v-if="!node.stable">
                    <v-list-tile-title>编辑Upstream</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="delUpstreamApi(node.name)" v-if="!node.stable">
                    <v-list-tile-title>删除Upstream</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="newServerDialog=true" v-if="!node.stable">
                    <v-list-tile-title>新增主机</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-menu
                lazy
                offset-y
                v-model="menu.server"
                absolute
                :position-x="x"
                :position-y="y"
        >
            <v-list dense>
                <v-list-tile @click="deleteServerFromUpsApi(node.ups)" v-if="!node.stable">
                    <v-list-tile-title>删除主机</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="setPeerDown(node.ups)">
                    <v-list-tile-title>主机启/停</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-snackbar
                :color="alertOption.color"
                :timeout="alertOption.timeout"
                :top="alertOption.y === 'top'"
                :bottom="alertOption.y === 'bottom'"
                :right="alertOption.x === 'right'"
                auto-height
                :left="alertOption.x === 'left'"
                :multi-line="alertOption.mode === 'multi-line'"
                :vertical="alertOption.mode === 'vertical'"
                v-model="alertOption.show"
                class="black--text"
        >
            {{ alertOption.message }}
            <v-btn flat icon color="pink" @click.native="alertOption.show = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-dialog v-model="confirmOption.show" max-width="290">
            <v-card>
                <v-card-title dense :class="confirmOption.color">确认?</v-card-title>
                <v-card-text>
                    {{confirmOption.message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="confirmOption.show = false">No</v-btn>
                    <v-btn color="green darken-1" flat @click.native="confirmFunc">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vuetify/1.0.16/vuetify.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.min.js"></script>
<script src="/static/admin.js"></script>
</html>